.phonebookTitle {
    font-size: 36px;
    font-weight: 800;
    color: rgb(13, 41, 98);
    margin-left: 150px;
}

.contactsTitle{
    font-size: 36px;
    font-weight: 800;
    color: rgb(13, 41, 98);
    margin-left: 150px;
}